<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>All Users</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
            <span class="navbar-text" id="spanAdmin">
            </span>
        <form class="form-signin" method="get" action="/login">
            <button class="btn btn-outline-light border-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row w-100">

        <!--   LEFT PANEL -->
        <div class="col-2 p-0 m-0 ">
            <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link active" id="admin-tab" th:href="@{'/admin'}" role="tab"
                       aria-controls="admin" aria-selected="true">Admin</a>
                    <a class="nav-link" id="user-tab" th:href="@{'/user'}">User</a>
                </th:block>
            </div>
        </div>

        <!-- Admin Panel -->
        <div class="col-md-10 bg-light">
            <div class="tab-pane fade show active" id="admin" role="tabpanel"
                 aria-labelledby="admin-tab">
                <h1>Admin panel</h1>
            </div>

            <!--            Button add user-->
            <div class="container">
                <button id="btnCreate" type="button" class="btn btn-primary" data-toggle="modal">
                    Add user
                </button>
            </div>

            <!--            Admin table-->
            <div class="container">
                <table id="adminTable" class="table mt-2 table-bordered table-striped">
                    <thead>
                    <tr class="text-center bg-info">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--            Modal window-->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                            Form-->
                <form id="modalForm">
                    <div class="form-group">
                        <label for="username" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="surname" class="col-form-label">Surname:</label>
                        <input type="text" class="form-control" id="surname">
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-form-label">Age:</label>
                        <input type="number" class="form-control" id="age">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group">
                        <label for="rolesSelect"
                               class="form-label">Roles:</label>
                        <select class="form-control" size="2" multiple="multiple" id="rolesSelect">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/usersTable.js"></script>
</body>
</html>